.contact{
  width: 100%;
  height: 100%;

  background-color: $principalColor;

  position: relative;

  .text{
    @include text;

    width: 60%;

    h2{
      color: white;
    }

    button{
      @include my-btn;

      background-color: white;
      border-color: white;
      color: $principalColor;
    }
  }
}
