$principalColor : #d70f64;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;
}

@mixin myflex-center{
  justify-content: center;
  align-items: center;
}

.active{
  display: block !important;

  animation-name: slider;
  animation-duration: 0.3s;
}

.hidden{
  display: none !important;

  animation-name: slider;
  animation-duration: 0.3s;
}

@keyframes slider{
  0%{right: 0}
  100% {right: 100%}
}
