footer{
  height: 23%;
  width: 100%;

  padding: 30px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .logo > img{
    width: 240px;
    height: 30px;
  }

  .logo small{
    color: #333333;
    font-size: 16px;
    font-weight: 300;
  }

  .social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .social img{
    width: 33px;
    height: 33px;

    cursor: pointer;
  }

  a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-weight: 300;

    &:hover{
      color: $principalColor;
    }
  }
}
