@media screen and (max-width: 830px){

  div.menu{
    display: none;
  }

  div.logo{
    width: 100%;
    padding: 0;

    position: relative;
  }

  .logo > i.fas.fa-bars{
    display: block !important;

    position: absolute;
    left: 5%;

    cursor: pointer;
  }

  .countries{
    display: none !important;
  }

  .countries-responsive{
    display: block;
  }

  .logo{
    @include myflex-center;
  }

  footer{
    height: 30%;
    padding: 20px;

    @include myflex-center;
  }
}

@media screen and (min-width: 830px){
  .drop-down-menu{
    display: none !important;
  }
}
